<html>
   <head>
      <script 
         src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js">
      </script>
      <link rel = "stylesheet" 
         href = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
      <link rel = "stylesheet" 
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="icon" href="img/favicon.ico"/>	  
   </head>
   
   <body>
      <table border = "0">
         <tbody>             
           	<tr>
                <td><button class = "mdl-button mdl-js-button mdl-js-ripple-effect">
                  <i class = "material-icons">add</i></button></td>
    <!--           <td><button class = "mdl-button mdl-js-button" disabled>
                  <i class = "material-icons">add</i></button></td>                  -->
            </tr>            
            <tr>
               <td>Загрузить файл</td>
            </tr>	                  
         </tbody>
      </table>
   </body>
</html>